# server
COMMAND="--network-name <user> --network-secret <pass>"
COMMAND="-i <ip> --network-name <user> --network-secret <pass>"
COMMAND="--dhcp --network-name <user> --network-secret <pass>"

# 共享局域网
COMMAND="--network-name <user> --network-secret <pass> -n 192.168.0.0/24 -l tcp://0.0.0.0:11010"

# client
COMMAND="-i <ip> --network-name <user> --network-secret <pass> -e tcp://<addr>:11010 -l <listen addr>"
COMMAND="--dhcp --network-name <user> --network-secret <pass> -e tcp://<addr>:11010 -l <listen addr>"