[client]
default-character-set = utf8

[mysqld]
character-set-server = utf8
lower_case_table_names=1

general_log = 1
general_log_file = /var/lib/mysql/general.log
slow_query_log = on
slow-query-log-file = /var/lib/mysql/slowquery.log
long_query_time = 2

default-time-zone='+8:00'
