export GITLAB_CLONE_IMAGE=apiv1/gitlab:clone
export GITLAB_HOST="your gilab host"
export GITLAB_API_PRIVATE_TOKEN="your token"
export CI_API_V4_URL=https://$GITLAB_HOST/api/v4
export USE_HTTP_REPO=1 # if use http
export HTTP_PROXY="your proxy" # if use http proxy
export FOREVER=1 # if need forever run