# 单用户单文件夹命令行
# docker run -it --rm --name samba -p 445:445 -e "USER=samba" -e "PASS=secret" -v ${PWD:-.}/samba:/storage dockurr/samba

services:
  samba:
    image: dockurr/samba
    ports:
      - 445:445
    volumes:
      - ./samba:/storage
    restart: always
    environment: # 使用 user.conf 配置文件 将忽略环境变量
      NAME: "$SMB_NAME"
      USER: "$SMB_USER"
      PASS: "$SMB_PASS"
    configs: # 可选：配置文件
      - source: smb.conf
        target: /etc/samba/smb.conf
      - source: users.conf
        target: /etc/samba/users.conf
configs: # 可选：配置文件
  smb.conf:
    content: |
      ${SMB_CONF}
  users.conf:
    content: |
      ${USER_CONF}
