SMB_NAME=''
SMB_USER=''
SMB_PASS=''

SMB_CONF='
[global]
        server string = samba
        idmap config * : range = 3000-7999
        security = user
        server min protocol = SMB2

        # disable printing services
        load printers = no
        printing = bsd
        printcap name = /dev/null
        disable spoolss = yes

[Data]
        path = /storage
        comment = Shared
        valid users = @smb
        browseable = yes
        writable = yes
        read only = no
        force user = root
        force group = root

[FirstShare]
        comment = First Shared Directory
        path = /path/to/first_directory
        browseable = yes
        writable = yes
        valid users = @smb
        create mask = 0664
        directory mask = 0775
        read only = no

[SecondShare]
        comment = Second Shared Directory
        path = /path/to/second_directory
        browseable = yes
        writable = yes
        valid users = @smb
        create mask = 0664
        directory mask = 0775
        read only = no
'

USER_CONF='
#username:UID:groupname:GID:password:homedir
samba:1000:smb:1000:secret
'