CONFIG_JSON='
<target iqn.2025-05.xxx:storage.sda>
    # 指定 ZVOL 路径
    backing-store /dev/sda
    # 控制访问权限（可选）
    initiator-address ALL # 允许指定网段访问
    # CHAP 认证（可选）
    incominguser username password
</target>
'